<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Microposts", "#", id: "logo" %>
    <nav>
      <ul><%= link_to "Home",   '#', %></ul>
      <ul><%= link_to "Help",   '#', %></ul>
      <ul><%= link_to "Login",  '#', %></ul>
    </nav>
  </div>
</header>